#search-button {
  background-color: black;
  border-color: black;
  color: white;
  border-radius: 7px;
  margin: 0px 0px 0px 10px;
  font-size: 13px;

}


#search-text-input {
  text-align: center;
  font-size: 13px;
}

form {
  display: inline;
}

.city {
    margin-top: 15px;
    margin-bottom: 0;
}
.date {
    color: grey;
    font-size: 15px;
    margin-bottom: 20px;
}

#weather-description {
    font-size: 15px;
    margin-bottom: 10px;
    color:black;
    font-style: italic;
}
