#search-button {
  background-color: black;
  border-color: black;
  color: white;
  border-radius: 7px;
  margin: 0px;
  font-size: 10px;
}

#current-location-button {
  background-color: black;
  border-color: black;
  color: white;
  border-radius: 7px;
  margin: 0px;
  font-size: 10px;
}

#search-text-input {
  text-align: center;
  font-size: 11px;
}

#search-text-input {
  text-align: center;
  font-size: 11px;
}

form {
  display: inline;
}
