#search-button {
  background-color: black;
  border-color: black;
  color: white;
  border-radius: 7px;
  margin: 0px;
  font-size: 10px;
}

#current-location-button {
  background-color: black;
  border-color: black;
  color: white;
  border-radius: 7px;
  margin: 0px;
  font-size: 10px;
}

#search-text-input {
  text-align: center;
  font-size: 11px;
}

#search-text-input {
  text-align: center;
  font-size: 11px;
}

form {
  display: inline;
}

.city {
    margin-top: 15px;
    margin-bottom: 0;
}
.date {
    color: grey;
    font-size: 15px;
    margin-bottom: 20px;
}

#weather-description {
    font-size: 20px;
    margin-bottom: 0;
}
